<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue ToDo List</title>
  </head>
  <body>

    <!-- Div di visualizzazione di Vue -->
    <div id="root">
      <input v-model="text" @keyup.enter="submitFx" value="text" placeholder="thing to do">
      <button @click="submitFx">Aggiungi</button>
      <ul>
        <div v-for="item in toDoList" class="display-list">
          <li >{{item}}
            <i class="fas fa-times"></i>
          </li>
        </div>
      </ul>
    </div>
    <!-- END Div di visualizzazione di Vue -->

  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
